#mainSection {
    position: absolute;
    z-index: -1;
    height: 600px;
    width: 650px;
    border: 5px outset silver;
    margin: 15px;
    padding: 5px;
    background-image: linear-gradient(to bottom right, blue, black);
}

#partyHeader {
    margin-top: -25px;
    border: 3px outset silver;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    background-image: linear-gradient(to bottom right, blue, black);
    width: fit-content;
    height: 40px;
    font-family: 'Squada One', cursive;
    text-shadow: 5px 3px 7px black;
}

.character {
    border: 3px outset silver;
    display: block;
    margin-left: left;
    margin: 30px;
    box-shadow: 6px 6px 7px black;
}

#firstOptions {
    position: relative;
    width: 250px;
    height: 300px;
    top: 30px;
    left: 500px;
    border: 3px outset silver;
    background-image: linear-gradient(to bottom right, blue, black);
}

.optionItem {
    color: white;
    font-size: 24px;
    padding-left: 30px;
    font-family: 'Squada One', cursive;
    text-shadow: 5px 3px 7px black;
    line-height: 10px;
}

#itemMenu {
    color: white;
    position: absolute;
    z-index: 1;
    height: 550px;
    width: 400px;
    top: 50px;
    left: 50px;
    border: 3px outset silver;
    background-image: linear-gradient(to bottom right, blue, black);
    font-family: 'Squada One', cursive;
    font-size: larger;
}

#itemTable {
    margin: 10%;
    border-collapse: collapse;
    white-space: nowrap;
}

th {
    text-align: left;
    border-bottom: 1px solid white;
    width: 90%;
}

.quantity {
    text-align: left;
}

.item {
    line-height: 25px;
}

#equipMenu {
    position: absolute;
    z-index: 1;
    height: 550px;
    width: 400px;
    top: 50px;
    left: 50px;
    border: 3px outset silver;
    background-image: linear-gradient(to bottom right, blue, black);
}

#equipText {
    color: white;
    font-size: 24px;
    padding-left: 30px;
    font-family: 'Squada One', cursive;
    text-shadow: 5px 3px 7px black;
}

#partyInfo {
    border: 3px outset silver;
    color: white;
    position: absolute;
    z-index: 0;
    width: 200px;
    height: 100px;
    top: 400px;
    left: 520px;
    font-size: 22px;
    font-family: 'Squada One', cursive;
    text-shadow: 5px 3px 7px black;
    background-image: linear-gradient(to bottom right, blue, black);
}

#middleChar {
    margin-left: 50px;
}

body {
    background-color: black;
}

#time {
    padding-left: 15%;
}

#money {
    padding-left: 15%;
}

#infoText {
    padding-left: 15%;
    padding-top: 5%;
    line-height: 6px;
}

#firstHP {
    position: absolute;
    border: 1px outset silver;
    height: 30px;
    width: 200px;
    left: 38%;
    top: 16%;
}

#firstMP {
    position: absolute;
    border: 1px outset silver;
    height: 30px;
    width: 200px;
    left: 38%;
    top: 24%; 
}

#secondHP {
    position: absolute;
    border: 1px outset silver;
    height: 30px;
    width: 200px;
    left: 38%;
    top: 46%;
}

#secondMP {
    position: absolute;
    border: 1px outset silver;
    height: 30px;
    width: 200px;
    left: 38%;
    top: 54%;
}

#thirdHP {
    position: absolute;
    border: 1px outset silver;
    height: 30px;
    width: 200px;
    left: 38%;
    top: 76%;
}

#thirdMP {
    position: absolute;
    border: 1px outset silver;
    height: 30px;
    width: 200px;
    left: 38%;
    top: 84%;
}

#firstCharacter {
    position: absolute;
    left: 38%;
    top: 8%;
    color: white;
    font-family: 'Squada One', cursive;
    font-size: larger;
    text-shadow: 5px 3px 7px black;
}

#secondCharacter {
    position: absolute;
    left: 38%;
    top: 38%;
    color: white;
    font-family: 'Squada One', cursive;
    font-size: larger;
    text-shadow: 5px 3px 7px black;
}

#thirdCharacter {
    position: absolute;
    left: 38%;
    top: 68%;
    color: white;
    font-family: 'Squada One', cursive;
    font-size: larger;
    text-shadow: 5px 3px 7px black;
}

.statBar {
    box-shadow: 6px 6px 7px black;
}